@import url('https://fonts.googleapis.com/css?family=Jua');

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.score-container {
  font-family: 'Jua', sans-serif;
  text-align: center;
  display: grid;
  margin: 10px;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}

.score-board {
  grid-column-start: 1;
  grid-column-end: 3;
  color: #a9c52f;
}

.highestscore-board {
  grid-column-start: 3;
  grid-column-end: 4;
  color: #f26d5b;
}

.bonus-board {
  grid-column-start: 1;
  grid-column-end: 3;
  color: #5fb9b0;
}

.game-control {
  font-family: 'Jua', sans-serif;
  background-color: #ffeed3;
  border: none;
  color: #f4722b;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  background-color: #ec7263;
}

.grid-row {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto auto auto auto;
}

.grid-cell {
  padding: 0;
  vertical-align: middle;
  display: inline;
  background-color: rgba(254, 190, 126, 1);
  color: rgb(167, 82, 101);
  height: 35px;
  width: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: 'Jua', sans-serif;
  font-weight: bold;
}
